{% extends admin_base.html %}
{% block title %}Admin{% end %}
{% block main %}
<div class="hero">
    <h1 class="pure-u-1">
        imjustfly.net
    </h1>
    <h2 class="pure-u-3-4 l-centered">
        Write and share your thoughts.Do it now!
    </h2>
    <div class="hero-cta pure-u-3-4">
        <p>
            <a class="pure-button pure-button-cta" href="/customize/">Start Writing</a>
            <a class="pure-button pure-button-secondary" href="https://github.com/yui/pure/">To Main Page</a>
        </p>
    </div>
</div>
<div class="pure-u-1">
    <div class="size-chart l-vbox pure-g">
        <div class="size-chart-item size-chart-base pure-u" style="width: 21%;">
            <a class="size-chart-label" href="/base/">
                                Base
                                <span class="size-chart-size">1.2KB</span>
                            </a>
        </div>
        <div class="size-chart-item size-chart-grids pure-u" style="width: 12%;">
            <a class="size-chart-label" href="/grids/">
                                Grids
                                <span class="size-chart-size">0.7KB</span>
                            </a>
        </div>
        <div class="size-chart-item size-chart-forms pure-u" style="width: 25%;">
            <a class="size-chart-label" href="/forms/">
                                Forms
                                <span class="size-chart-size">1.4KB</span>
                            </a>
        </div>
        <div class="size-chart-item size-chart-buttons pure-u" style="width: 14%;">
            <a class="size-chart-label" href="/buttons/">
                                Buttons
                                <span class="size-chart-size">0.8KB</span>
                            </a>
        </div>
        <div class="size-chart-item size-chart-tables pure-u" style="width: 10.5%;">
            <a class="size-chart-label" href="/tables/">
                                Tables
                                <span class="size-chart-size">0.6KB</span>
                            </a>
        </div>
        <div class="size-chart-item size-chart-menus pure-u" style="width: 17.5%;">
            <a class="size-chart-label" href="/menus/">
                                Menus
                                <span class="size-chart-size">1KB</span>
                            </a>
        </div>
    </div>
</div>
{% end %}