{% extends admin_base.html %}
{% block title %}blog list{% end %}
{% block main %}
<h2 class="l-centered">Categories</h2>
<hr>
<div class="marketing-ribbon centered-div">
    <form class="pure-form" method="post">
        <fieldset>
            <input id="name" name="name" type="text" placeholder="Input category name">

            <button type="submit" class="pure-button notice">submit</button>
        </fieldset>
    </form>
    <table class="full-size-table pure-table pure-table-bordered ">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>
                    {{category.id}}
                </td>
                <td>
                    {{category.name}}
                </td>
                <td>
                    <a href="/admin/category/edit/{{category.id}}">edit</a> | delete
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>
{% end %}