{% extends "base.html" %}

{% block title %}imjustfly.net{% end %}

{% block content %}
{% for item in posts %}
<div class="article">
    <div class="top">
                <h1><a href="post/{{item.id}}">{{item.title}}</a></h1>
            </div>
            <hr>
            <div class="article_meta">
                <span>by</span>
                Justfly
                <span>on</span>
                {{item.post_time.strftime('%b-%d-%y %H:%M:%S')}}
                <span>with</span>
                <a href="post/{{item.id}}#comment">Comments</a>
            </div>
            <div class="text">
                {% raw markdown(item.content) %}
            </div>
            <hr>
            <div class="article_meta">
                <span>Categoried:</span>
                <a class="tag" href="/category/{{item.category.name}}">{{item.category.name}}</a>
            </div>
        </div>
        {% end %}
{% end %}

{% block pagination %}

<nav id="pagination">
    {% if have_previor %}
    <a id="prev" href="?p={{page-1}}" class="v_nav">
        <span class="icon">Prev</span>
    </a>
    {%end%}
    {% if have_next %}
    <a id="next" href="?p={{page+1}}" class="v_nav">
        <span class="icon">Next</span>
    </a>
    {%end%}
</nav>

{% end %}