{% extends "base.html" %}

{% block title %}{{post.title}} - imjustfly.net{% end %}

{% block content %}
<div class="article">
    <div class="top">
                <h1>{{post.title}}</h1>
            </div>
            <hr>
            <div class="article_meta">
                <span>by</span>
                Justfly
                <span>on</span>
                {{post.post_time.strftime('%b-%d-%y %H:%M:%S')}}
                <span>with</span>
                <a href="#comment">Comments</a>
            </div>
            <div class="text">
                {% raw post.content %}
            </div>
            <hr>
            <div class="article_meta">
                <span>Categoried:</span>
                <a class="tag" href="/category/{{post.category.name}}">{{post.category.name}}</a>
                &nbsp;&nbsp;
                <span>tagged:</span>
                {% for tag in post.tags %}
                <a class="tag" href="/tag/{{tag.name}}">{{tag.name}}</a>
                {% end %}
            </div>
        <a name="comment" id="comment"></a>
        <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"justflyblog"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
        </div>
{% end %}