{% extends admin_base.html %}
{% block title %}blog list{% end %}
{% block main %}
<h2 class="l-centered">Blog List</h2>
<hr>
<div class="marketing-ribbon centered-div">
    <table class="full-size-table pure-table pure-table-bordered ">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Title
                </th>
                <th>
                    Category
                </th>
                <th>
                    PostTime
                </th>
                <th>
                    Method
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Honda
                </td>
                <td>
                    Accord
                </td>
                <td>
                    2009
                </td>
                <td>
                    2009
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% end %}